
.search input {
    width: 300px;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 3px;
  
}
.search button {
  color: #444;
  border: 1px solid #444;
  background-color: white;
  border-radius: 3px;
  padding: 10px 30px;

}
.search button:hover{
    color: #fff;
    background-color: #444;
}
.content button{
  border: 1px solid #222;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  color: #fff;
  font-weight: 600;
}
